body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sec-nav {
    display: flex;
    justify-content: center;
    background-color: pink;
    padding: 18px;
}

.oriflame-bar ul {
    list-style: none;
    display: flex;
}

.oriflame-bar ul li {
    margin: 0 15px;
}

.oriflame-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.container {
    text-align: center;
    margin: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: pink;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
